@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");
*{
    margin: 0;
    font-family: "Roboto";
}

h1{
    padding: 2%;
    padding-left: 4%;
    font-size: 4.5em;
    color: white;
    font-weight: lighter;
}
p.txtPromo{
    padding: 1%;
    padding-left: 4%;
    font-size: 3em;
    color: rgba(51, 51, 51, 1);
}
h2.h2Hero{
    padding:1%;
    padding-top: 14%;
    font-size: 38px;
    font-weight: lighter;
}


section.barrPromo{
    background-color: rgba(209, 137, 28, 1);
}
section.barrBanner{
    background-color: rgba(0, 102, 159, 1);
}
main{
    /* 116px + 805px + 210px + 116px*/
   text-align: center;
}

section.heroe{
    width: 35%;
    height: 50%;
    background-color: rgba(243, 243, 243, 1);;
    margin: 10px;
    text-align: center;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    position: relative;
    
}

img.fondo1{
    background-repeat: no-repeat;
    width: 100%;
}

img.pic{
    position: absolute; 
    top: 140px;
    left: 100px;
    border-radius:150px;
    width: 50%;
}
button{
    color: white;
    background-color: rgba(0, 102, 159, 1);
    font-size: 15px;
    width: 120px;
    height: 45px;
    border: none;
}
footer{
    position: relative;
    text-align: center;
    background-color: rgba(0, 102, 159, 1);
    color: white;
    font-size: 16px;
    font-family: "Roboto";
    padding: 2%;
}

p.infoH{
    text-align: left;
    padding: 4%;
    font-size: 16px;
}

i.fas{
    position:absolute;
    top: 20px;
    left: 20px;
    font-size: 40px;
    color:rgba(204, 36, 36, 1);
}
i.fa-solid{
    position: absolute;
    top: 840px;
    left: 92vw;
    font-size: 3em;
    color:rgba(0, 102, 159, 1);

}

img.imgFoo{
    width: 10%;  
    position: absolute; 
    top: 25%;
    left: 88%;
}
@media(min-width: 1000px){
    main{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
@media(max-width: 1000px){
    main{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
}